<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PIAProjekatFilmoviPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>piaprojekat.entiteti.Korisnik</class>
    <class>piaprojekat.entiteti.Festival</class>
    <class>piaprojekat.entiteti.Projekcija</class>
    <class>piaprojekat.entiteti.Film</class>
    <class>piaprojekat.entiteti.Ocena</class>
    <class>piaprojekat.entiteti.Lokacija</class>
    <class>piaprojekat.entiteti.Slika</class>
    <class>piaprojekat.entiteti.Rezervacija</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/pia projekat 2017-18 filmovi?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
    </properties>
  </persistence-unit>
</persistence>
